#:schema node_modules/wrangler/config-schema.json
name = "nextjs-d1-drizzle-cloudflare-pages"
compatibility_date = "2024-05-12"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".vercel/output/static"

# Bind a D1 database. D1 is Cloudflare’s native serverless SQL database.
# Docs: https://developers.cloudflare.com/pages/functions/bindings/#d1-databases
[[d1_databases]]
binding = "DB"
database_name = "nextjs-d1-drizzle-cloudflare-pages-db"
database_id = ""
